body
{
    font-family: 'Times New Roman';
    text-align: center;
    font-style: italic;
}
#baner
{
    background-color: lightpink;
    height: 80px;
    padding-top: 10px;
}
#lewy
{
    background-color: lightpink;
    height: 500px;
    width: 20%;
    font-size: 20px;
    float: left;
}
#prawy
{
    background-color: black;
    height: 500px;
    width: 80%;
    font-size: 30px;
    color:lightpink;
    float: left;
    
}
#stopka
{
    clear: both;
    background-color: lightpink;
    height: 60px;
}
#lewy>img
{
    width: 180px;
    height: 180px;
}
p
{
    margin: 50px;
}
